<div style ="padding-bottom: 100px"></div>
<div class="container">
<div class="row" id="packages-row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">

{{#each user}}

<h1>Welcome to Something Blue, {{capitalizeString this.firstname}}</h1>
<p>To begin creating your wedding package, head on over to "Choose Vendors" to see our curated list of vendors available in your area" </p>

{{/each}}

    </div>
    <div class="col-sm-2"></div>
</div>
</div>