<div style ="padding-bottom: 100px"></div>
<div class="container">
<div class="row" id="packages-row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">

{{#each user}}
{{#if this.id}}
<h1>Welcome to Something Blue, {{capitalizeString this.firstname}}.</h1>
<p>To begin creating your wedding package, head on over to <span><a href="/vendors">Choose Vendors</a></span> to see our curated list of vendors available in your area</p>
{{/if}}
{{/each}}

    </div>
    <div class="col-sm-2"></div>
</div>
</div>