<div class="container">
<div class="row" id="packages-row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">

{{#each user}}

<h1>Welcome to Something Blue, {{this.firstname}}.</h1>
<p>kjhfsdkfds</p>

{{/each}}

    </div>
    <div class="col-sm-2"></div>
</div>
</div>